* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* margin: 0;  */
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

h3 {
  color: #845EC2;
  margin-left: 15px;
}

.mic {
  height: 60px;
  margin-top: -20px;
  margin-left: 15px;
}

.title-btn {
  align-items: center;
  border: 3px solid #845EC2;
  border-radius: 100%;
  width: 100px;
  margin-left: 100px;
  box-shadow: 3px 3px 5px #845EC2;
}

.title-btn:hover {
  background-color: #B39CD0;

}

.nav-cast {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.767);
  padding: 25px;

}

.navContainer {
  margin-left: 250px;
  padding: 10px;
  height: 30px;
  align-items: center;
}


.btn-nav {

  height: 40px;
  width: 180px;
  height: 50px;
  background-color: #7c5ec269;
  border-radius: 45%;
  font-weight: bolder;
  align-items: center;
  color: lavender;
  box-shadow: 5px 5px 9px #845EC2;
  margin-left: 150px;

}

.btn-nano {
  height: 12px;
  width: 40px;
  margin-right: 90px;
  border-radius: 45%;
  background-color: #942193;
  box-shadow: 3px 3px 15px #942193;

}


.btn-small {
  height: 20px;
  width: 70px;
  border-radius: 45%;
  margin-left: 10px;
  background-color: aqua;
  box-shadow: 3px 3px 5px aqua;
}

.btn-medium {
  height: 30px;
  width: 120px;
  border-radius: 45%;
  margin-left: 120px;
  background-color: #942193;
  box-shadow: 3px 3px 5px #942193;
  padding-bottom: 10px
}

.btn-nav:hover {
  background-color: #171544;
  border: 1px solid #B0A8B9;
  color: aqua;
}

.btn-medium:hover {
  background-color: #171544;
}

.btn-small:hover {
  background-color: #171544;
}

.btn-nano:hover {
  background-color: #171544;
}


.search-img {

  margin-left: 50px;
}

.showImg {
  margin-right: 90px
}

.subContainer {
  margin-left: 200px;
}


.previewPodcast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* height: 80px; */

  padding: 10px;

}

.podcastImage {
  size: 1em;
  border: 1px solid #B0A8B9;
  text-align: center;
  width: 270px;
  height: 310px;
  padding: 10px;
  justify-content: center;
  background-color: #B0A8B9;
  margin: 15px;
  border-radius: 25px;
  color: #0E0B20;

}

.episodes {
  display: grid;
  grid-template-columns: repeat(4, 0.7fr);
  size: 1em;
  border: 1px solid #0E0B20;
  text-align: center;
  width: 270px;
  height: 310px;
  padding: 10px;
  background-color: #B0A8B9;
  margin: 20px;
  border-radius: 25px;
  color: #0E0B20;
}

.num-episodes {
  color: #f30ebe;
  font-weight: bolder;
}

.podcastImage:hover {
  background-color: #171544;
  border: 3px solid #845EC2;
  color: snow;
  box-shadow: 3px 3px 5px #845EC2;
}

.episodes:hover {
  background-color: #171544;
  border: 1px solid #B0A8B9;
  color: snow;
}

.audio li {
  margin: 0;
}

.audioDiv {
  padding-top: 10px;
  margin: 10px;
}

.loadingState {
  color: red;
  font-weight: bolder;
  font-size: larger;
}

.img {
  height: 100px;
  width: 150px;
}

.preview-show {
  margin: 30px;
  padding: 20px;
  gap: 5px;
}

.showPreview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.form {

  text-align: center;
  margin-left: 120px;
  width: 190px;
  height: 200px;
  padding-top: 40px
}

.form-search {
  margin: 5px;
  width: 180px;
  height: 40px;
  font-weight: bold;
  background-color: #7c5ec269;
  color: #d1edee;
  border-radius: 25px;
  border: 2px solid aqua;
  box-shadow: 2px 2px 4px aqua;
}

.form-search:hover {
  background-color: #171544;
  color: aqua;
}

#submit-search {
  background-color: #296073;
}

.podcast-title {
  margin-right: 120px;
}

.title-seasons {
  padding-top: 50px;
  color: aqua;
}

.user-favors {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 400px;
  margin-left: 100px;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative
}

.userDiv {
  margin: 10px
}

.input-favours,
.btn-favours {
  margin: 5px;
}

.btn-favours {
  border-radius: 25px;
}

.input-favours {
  width: 220px;
  height: 30px;
  background-color: #7c5ec269;
  border-radius: 20px;

}

.input-favours:hover {
  background-color: #171544;
  color: snow;
}

.ul-favours {
  list-style: none;
  padding: 0;
  align-items: center;

}


.li-favours {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: snow;
  list-style: none;
  border-radius: 25px;
  border: 2px solid #942193;
  box-shadow: 2px 2px 4px #942193;
  background-color: #171544;
  margin: 10px;

}

.h2-favourites {
  color: #f30ebe;
}

.add-favorites {
  background-color: #7c5ec269;
  padding-bottom: 10px;
  height: 40px;
  width: 340px;
  margin-left: 5px;
  border-radius: 25px;
  border: 2px solid aqua;
  box-shadow: 2px 2px 4px aqua;

}

#sortingType,
#sortingOrder {
  margin: 5px;
  border-radius: 25px;
  background-color: #7c5ec269;
  border: 2px solid aqua;
  box-shadow: 2px 2px 4px aqua;
}

#sortingType:hover {
  background-color: #171544;
  color: snow;
}

#sortingOrder:hover {
  background-color: #171544;
  color: snow;
}

.btn-favours {
  background-color: #7c5ec269;
  font-weight: bolder;
  border: 2px solid aqua;
  box-shadow: 2px 2px 4px aqua;
}

.btn-favours:hover {
  background-color: #171544;
  color: aqua;
}

.imageSlider {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #171544;
  justify-content: center;
  margin-left: 40px;
  border-radius: 100%;
  border: 2px solid #845EC2;
  box-shadow: 3px 3px 10px #845EC2;
  overflow: hidden;

}


.btn-cara {
  margin: 10px
}

.cara {
  height: 150px;
  width: 200px;
  border: 2px solid white;
}

.titleSearch {
  background-color: #171544;
}

.supa {
  padding: 10px;
  margin: 10px
}

.reset-progress-button,
.check-fav {
  height: 40px;
  width: 340px;
  border-radius: 25px;
  background-color: #7c5ec269;
  font-weight: bolder;
  font-size: medium;
  border: 2px solid aqua;
  box-shadow: 2px 2px 4px aqua;
}

.reset-progress-button:hover {
  color: aqua;
  background-color: #171544;
}

.check-fav:hover {
  color: aqua;
  background-color: #171544;
}

audio::-webkit-media-controls-panel {
  background-color: #404e61;
}

audio::-webkit-media-controls-panel:hover {
  background-color: aqua;
}

.li-episode {
  border: 2px solid #942193;
  margin: 13px;
  background-color: #7c5ec269;
  border-radius: 25px;
  list-style: none;
  box-shadow: 2px 2px 4px #942193;
}

.li-episode:hover {
  background-color: #171544;
  color: snow
}

label {
  color: #dd14ab;
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  .nav-cast {
    width: 220%;
  }

  .navContainer {
    margin-left: 70px;
  }

  .btn-nano {
    margin-right: 20px;
  }

  .btn-small {
    margin-left: 10px;
    width: 40px;
    height: 20px;
  }

  .btn-medium {
    width: 50px;
    margin-left: 50px
  }

  .btn-nav {
    width: 90px;
    height: 30px;
    margin-left: 75px
  }

  .previewPodcast {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
  }
}